body{
    font-family: "Outfit", sans-serif;
}
.fontFamily{
    font-family: "Open Sans", sans-serif;
}
.boxShadow{
    box-shadow: 0px 12px 32px 0px #0000001F;
}
#testimonial{
    background: url("./images/testimonialBG.svg") no-repeat center center/cover;
}
#clients{
    background: url("./images/clientBG.svg") no-repeat center center/cover;
}
.max-width{
    max-width: 1240px;
    margin: auto;
}
.max-width1{
    max-width: 1240px;
    padding: 10px 100px;
    margin: auto;
}
/* .bgcolor{
    background-color: #FFFFFF;
    width: 100%;
} */
/* .pStyle{
    font-size: 28px;
} */
/* ul li a{
    color: #0A2640;
    font-weight: 500;
    font-size: 16px;
} */
/* .btn{
    background-color: #3CDA5F;
    color:#FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 7px 20px;
} */
/* .adjustment{
    width: 156px;
    height: 45px;
    background-color:#FFFFFF;
    border-radius: 45px;
} */
/* .pstyle{
    color: #184363;
    font-size: 15px;
}
.searchbar{
    width: 985px;
    height: 47px;
    background-color:#FFFFFF;
    border-radius: 45px;
} */
/* .pSreachStyle{
    color: #184363;
    font-size: 14px;
} */
/* .iconstyle{
    background-color: #3CDA5F;
    width: 56px;
    height: 47px;
    border-radius: 0px 47px 47px 0px;
} */
/* .main-section{
    background-color:#FFFFFF;
}
.bg-color{
    background-color: #b0efbd;
} */