body{
    font-family: "Outfit", sans-serif;
}

/* .bgcolor{
    background-color: #FFFFFF;
    width: 100%;
} */
/* .pStyle{
    font-size: 28px;
} */
/* ul li a{
    color: #0A2640;
    font-weight: 500;
    font-size: 16px;
} */
/* .btn{
    background-color: #3CDA5F;
    color:#FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 7px 20px;
} */
/* .adjustment{
    width: 156px;
    height: 45px;
    background-color:#FFFFFF;
    border-radius: 45px;
} */
/* .pstyle{
    color: #184363;
    font-size: 15px;
}
.searchbar{
    width: 985px;
    height: 47px;
    background-color:#FFFFFF;
    border-radius: 45px;
} */
/* .pSreachStyle{
    color: #184363;
    font-size: 14px;
} */
/* .iconstyle{
    background-color: #3CDA5F;
    width: 56px;
    height: 47px;
    border-radius: 0px 47px 47px 0px;
} */
/* .main-section{
    background-color:#FFFFFF;
}
.bg-color{
    background-color: #b0efbd;
} */